@font-face {
    font-family: Timer;
    src: url('../font/OpenSans-VariableFont_wdth,wght.ttf');
}

#timer {
    font-family: Timer;
    font-weight: 600;
    background-color: rgb(77, 202, 104);
    border-radius: 20px;
    height: 12.5rem;
    width: 25rem;
    float: left;
}

#time {
    font-size: 100px;
    text-align: center;
    width: 100%;
    margin-top: -2rem;
}

#pomodoro_timer {
    margin-top: 4rem;
    width: 30%;
    color: rgb(255, 255, 255);
    margin: auto;
    height: 20rem;
    text-align: center;
    position: relative;
    z-index: 0;
}

.button {
    float: left;
    width: 33.33%;
    font-size: 2rem;
    cursor: pointer;
}

.button:hover {
    color: rgb(16, 46, 22);
}

.next_time {
    font-size: 35px;
    margin-top: -10px;
    cursor: default;
}

.next_time:hover {
    color: rgb(255, 255, 255);
}

#session {
    position: relative;
    z-index: 4;
    font-size: 2rem;
}

#break {
    position: relative;
    z-index: 3;
    font-size: 5rem;
    margin-top: -7.5rem;
    color: rgba(240, 248, 255, 0);
}

#break:hover {
    color: green;
    cursor: pointer;
    background-color: rgb(77, 202, 104);
}
